<div class="row">
  <div class="col-md-6">
    <h3>Tuesday, 24 Oct</h3>
    <table class="table table-striped">
      <tr><td>08:00-08:30</td><td>Morning coffee/tea</td></tr>
      <tr><td>08:30-09:00</td><td>Welcome & project design</td></tr>
      <tr><td>09:00-10:00</td><td><a href=http://datacarpentry.github.io/spreadsheet-ecology-lesson/>Data organization in spreadsheets</a></td></tr>
      <tr><td>10:00-10:30</td><td>Coffee/tea break</td></tr>
      <tr><td>10:30-12:00</td><td>Unix shell</td></tr>
      <tr><td>12:00-13:00</td><td>Lunch break</td></tr>
      <tr><td>13:00-14:30</td><td>Unix shell (continue)</td></tr>
      <tr><td>14:30-15:00</td><td>Coffee/tea break</td></tr>
      <tr><td>15:00-16:30</td><td>Introduction to 16S amplicon analysis</td></tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday, 25 Oct</h3>
    <table class="table table-striped">
      <tr><td>08:00-08:30</td><td>Morning coffee/tea</td></tr>
      <tr><td>08:30-10:00</td><td>16S amplicon analysis (continue)</a></td></tr>
      <tr><td>10:00-10:30</td><td>Coffee/tea break</td></tr>
      <tr><td>10:30-12:00</td><td>16S amplicon analysis (continue)</td></tr>
      <tr><td>12:00-13:00</td><td>Lunch break</td></tr>
      <tr><td>13:00-14:30</td><td>16S amplicon analysis (continue)</td></tr>
      <tr><td>14:30-15:00</td><td>Coffee/tea break</td></tr>
      <tr><td>15:00-16:30</td><td><a href=http://www.datacarpentry.org/R-ecology-lesson/>Introduction to R</a></td></tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Thursday, 26 Oct</h3>
    <table class="table table-striped">
      <tr><td>08:00-08:30</td><td>Morning coffee/tea</td></tr>
      <tr><td>08:30-10:00</td><td><a href=http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html/>Data manipulation in R</a></td></tr>
      <tr><td>10:00-10:30</td><td>Coffee/tea break</td></tr>
      <tr><td>10:30-12:00</td><td><a href=http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html/>Data visualization in R</a></td></tr>
      <tr><td>12:00-13:00</td><td>Lunch break</td></tr>
      <tr><td>13:00-14:30</td><td>Microbial community data analysis in R</td></tr>
      <tr><td>14:30-15:00</td><td>Coffee/tea break</td></tr>
      <tr><td>15:00-16:30</td><td>Microbial community data analysis in R (continue)</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, 27 Oct</h3>
    <table class="table table-striped">
      <tr><td>08:00-08:30</td><td>Morning coffee/tea</td></tr>
      <tr><td>08:30-10:00</td><td>Applied 16S amplicon analysis</td></tr>
      <tr><td>10:00-10:30</td><td>Coffee/tea break</td></tr>
      <tr><td>10:30-12:00</td><td>Applied 16S amplicon analysis (continue)</td></tr>
      <tr><td>12:00-12:30</td><td>Wrap-up</td></tr>
    </table>
  </div>
</div>
